alembic
aniso8601
attrs
bcrypt
blinker
certifi
charset-normalizer
click
defusedxml
exceptiongroup
Faker
flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
flask-restx
flask-sqlalchemy
flask-swagger-ui
gevent
greenlet
gunicorn
httpie
idna
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
jsonschema
Mako
markdown-it-py
MarkupSafe
mdurl
multidict
packaging
pkgutil-resolve-name
pluggy
Pygments
PyJWT
pyrsistent
PySocks
pytest
python-dateutil
pytz
requests
requests-toolbelt
rich
six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing-extensions
urllib3
werkzeug
zipp
zope.event
zope.interface
